@model SDT.Web.Models.Scenario

@{
    ViewBag.Title = "Scénář " + Model.ID_Scenario;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Scénář @Model.ID_Scenario</h2>


@using (Html.BeginForm("Edit", "Scenario", FormMethod.Post, new { @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.Label("Případ užití")
            @Html.EditorFor(model => model.UseCase.Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = "background-color: #fff" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            @Html.TextAreaFor(model => model.Description, 4, 3, new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.Label("Hlavní aktéři")
            @Html.ListBox("mainActors", null, htmlAttributes: new { @class = "form-control", @reqired = "required" })
        </div>

        <div class="form-group">
            @Html.Label("Vedlejší aktéři")
            @Html.ListBox("otherActors", null, htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InCondition)
            @Html.EditorFor(model => model.InCondition, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.InCondition, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Scenario1)
            @Html.TextAreaFor(model => model.Scenario1, 4, 3, new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(model => model.Scenario1, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OutCondition)
            @Html.EditorFor(model => model.OutCondition, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.OutCondition, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="submit" value="Uložit změny" class="btn btn-success btn-block" />
        </div>
    </div>
}

<h2>Aktéři</h2>
<hr />
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Jméno aktéra</th>
                <th>Druh aktéra</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var actor in Model.ScenarioActors)
            {
                <tr>
                    <td>@actor.Actor.Name</td>
                    <td>@actor.ActorType.Type</td>
                    <td>
                        <div class="btn-group pull-right">
                            <div class="form-group">
                                <button class="btn btn-sm btn-outline-danger" title="Odstranit aktéra" onclick="location.href='javascript:Delete(@actor.Actor.ID,@Model.ID);'" type="button"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("//tinymce.cachefly.net/4.0/tinymce.min.js")"></script>
    <script src="@Url.Content("~/Scripts/initTinyMCE.js")"></script>
    <script>
      function Delete(actorID, scenarioID) {
      jQuery.ajax({
        url: '@Url.Action("DeleteActor","Scenario")',
        type: 'POST',
        data: { id: actorID, idScenario: scenarioID },
        success: function () {
          location.reload();
        },
        error: function (error) {
          location.reload();
        }
       });
            }
    </script>
}
