@model IEnumerable<SDT.Web.Models.Scenario>

@{
    ViewBag.Title = "Scénáře";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Scénáře</h2>

<p>
</p>
<div class="container tableContainer">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model=>model.ID_Scenario)
                    </th>
                    <th>
                        @Html.DisplayName("Název případu užití")
                    </th>
                    <th>
                        @Html.DisplayName("Hlavní scénář")
                    </th>
                    <th>
                        @Html.DisplayName("Alternativní scénář")
                    </th>
                    <th>
                        @Html.DisplayName("Akce")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-tt-id="@item.ID">
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_Scenario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UseCase.Name)
                        </td>
                        <td>
                            @if (item.ID_MainScenario == null)
                            {
                                <i class="fa fa-check" style="color: green"></i>
                            }
                        </td>
                        <td>
                            @if (item.ID_MainScenario != null)
                            {
                                <i class="fa fa-check" style="color: green"></i>
                            }
                        </td>
                        <td>
                            <div class="btn-group pull-right">
                                <div class="form-group">
                                    <button class="btn btn-sm btn-outline-dark" title="Upravit scénář" onclick="location.href='@Url.Action("Edit","Scenario",new {id=item.ID })'"><i class="fa fa-edit"></i></button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-outline-dark" title="Zobrazit scénář" onclick="location.href='@Url.Action("Details","Scenario",new { id=item.ID})'"><i class="fa fa-eye"></i></button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-outline-danger" title="Odstranit scénář" onclick="location.href='javascript:Delete(@item.ID)'"><i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    foreach (var son in item.Scenario11.Where(c=>c.Done))
                    {
                        <tr data-tt-id="@son.ID" data-tt-parent-id="@item.ID">
                            <td>
                                @Html.DisplayFor(modelItem => son.ID_Scenario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => son.UseCase.Name)
                            </td>
                            <td>
                                @if (son.ID_MainScenario == null)
                                {
                                    <i class="fa fa-check" style="color: green"></i>
                                }
                            </td>
                            <td>
                                @if (son.ID_MainScenario != null)
                                {
                                    <i class="fa fa-check" style="color: green"></i>
                                }
                            </td>
                            <td>
                                <div class="btn-group pull-right">
                                    <div class="form-group">
                                        <button class="btn btn-sm btn-outline-dark" title="Upravit scénář" onclick="location.href='@Url.Action("Edit","Scenario",new {id=son.ID })'"><i class="fa fa-edit"></i></button>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-sm btn-outline-dark" title="Zobrazit scénář" onclick="location.href='@Url.Action("Details","Scenario",new { id=son.ID})'"><i class="fa fa-eye"></i></button>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-sm btn-outline-danger" title="Odstranit scénář" onclick="location.href='javascript:Delete(@son.ID)'"><i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts{
    <script>
        function Delete(id) {
            jQuery.ajax({
                url: '@Url.Action("Delete","Scenario")',
                type: 'POST',
                data: { id: id },
                success: function () {
                    location.reload();
                },
                error: function (error) {
                    location.reload();
                }
            });
        }

        
    </script>
    <script src="~/Scripts/jquery.treetable.js"></script>
    <script>
        jQuery('table').treetable({expandable: true});
    </script>
}
