@model SDT.Web.Models.User

@{
    ViewBag.Title = Model.Name+" "+Model.Surname;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}


<div class="row" style="margin-top: 5%">
    <div class="col-md-3">
        <img src="@Model.Avatar" class="img-responsive img-thumbnail" />
    </div>
    <div class="col-md-9">
       
        <div class="table-responsive">
            <table class="table" style="background: none">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Name) a @Html.DisplayNameFor(model => model.Surname)</td>
                    <td>@Model.Name @Model.Surname</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model=>model.BirthDate)</td>
                    @if (Model.BirthDate != null)
                    {
                        <td>@Model.BirthDate.Value.ToShortDateString()</td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model=>model.City)</td>
                    <td>@Model.City</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model=>model.RegistrationDate)</td>
                    <td>@Model.RegistrationDate.ToShortDateString()</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model=>model.LastActive)</td>
                    @if (Model.LastActive != null)
                    {
                        <td>@Model.LastActive.Value.ToString()</td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
                <tr>
                    <td>
                        @foreach (var item in Model.UserTechnologies)
                        {
                            <span class="badge badge-dark">@item.Technology.Name</span>
                        }
                    </td>
                    @if (Model.ID != (int)Session["userID"])
                    {
                        if (ViewBag.Contact == 0)
                        {
                            <td><a href="@Url.Action("AddContact", "Profile", new { id = Model.ID })" class="btn btn-primary">Přidat kontakt</a></td>
                        }
                        else if (ViewBag.Contact == 1)
                        {
                            <td><a href="@Url.Action("Delete", "Contacts", new { id = Model.ID })" class="btn btn-danger">Odebrat kontakt</a></td>

                        }
                        else if (ViewBag.Contact == 2)
                        {
                            <td><a href="@Url.Action("CancelRequest", "Profile", new { id = Model.ID })" class="btn btn-primary">Zrušit žádost</a></td>

                        }
                    }
                    else
                    {
                        <td></td>
                    }

                </tr>
            </table>
            <br />
        </div>
    </div>
</div>

@{
    var projects = (IEnumerable<SDT.Web.Models.Project>)ViewBag.Projects;
    if (projects.Count() != 0)
    {

            <h3>Sdílené projekty</h3>
            <br />
            <div class="container tableContainer">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model=>model.Projects.FirstOrDefault().Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model=>model.Projects.FirstOrDefault().ID_Author)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in projects)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @if (item.ID_Author == (int)Session["userID"])
                                        {
                                            <p>já</p>
                                        }
                                        else
                                        {
                                            <a class="btn-link" href="@Url.Action("Details","Profile",new { id=item.ID_Author})">@item.User.Name @item.User.Surname</a>
                                        }

                                    </td>
                                    <td>
                                        <div class="btn-group pull-right">
                                            <button class="btn btn-sm btn-outline-dark" title="Vybrat projekt" onclick="location.href='@Url.Action("SetProject", "Home", new { id = item.ID })'"><i class="fa fa-eye"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        
           

    }
}