@model DiplomovaPrace.Models.Requirement

@{
    ViewBag.Title = "Upravit požadavek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upravit požadavek</h2>
<p></p>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}


@using (Html.BeginForm("Edit", "Requirements", FormMethod.Post, new { @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.ID_Category)
            @Html.DropDownList("ID_Category", null, htmlAttributes: new { @class = "form-control" })
            <button class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-target="#modalCreate">Přidat kategorii</button>
            @Html.ValidationMessageFor(model => model.ID_Category, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_Requirement)
            @Html.EditorFor(model => model.ID_Requirement, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ID_Requirement, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ID_ReqType)
            @Html.DropDownList("ID_ReqType", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ID_ReqType, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Label("Priorita požadavku")
            <select class="form-control" name="ID_Priority" required>
                @foreach (DiplomovaPrace.Models.PriorityRequirement item in (List<DiplomovaPrace.Models.PriorityRequirement>)ViewBag.ID_Priority)
                {
                    if (item.ID == Model.ID_Priority)
                    {
                        <option value="@item.ID" title="@item.PriorityDescription" selected>@item.Priority</option>

                    }
                    else
                    {
                        <option value="@item.ID" title="@item.PriorityDescription">@item.Priority</option>

                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.ID_Priority, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Label("Status požadavku")
            <select class="form-control" name="ID_Status" required>
                @foreach (DiplomovaPrace.Models.StatusRequirement item in (List<DiplomovaPrace.Models.StatusRequirement>)ViewBag.ID_Status)
                {
                    if (item.ID == Model.ID_Status)
                    {
                        <option value="@item.ID" title="@item.StatusDescription" selected>@item.Status</option>

                    }
                    else
                    {
                        <option value="@item.ID" title="@item.StatusDescription">@item.Status</option>

                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.ID_Status, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Label("Zdroj požadavku")
            @Html.EditorFor(model => model.Source, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Source, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Label("Text požadavku")
            @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            <input type="submit" value="Uložit změny" class="btn btn-success btn-block" />
        </div>
    </div>
}

<div class="modal fade" id="modalCreate" role="dialog">
    <form method="post" action="@Url.Action("Create","Category",new { create=2,id=Model.ID})" autocomplete="off">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nová kategorie</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    @Html.LabelFor(model => model.CategoryRequirement.Name)
                    @Html.Editor("Name", null, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CategoryRequirement.Name, "", new { @class = "text-danger" })
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-block">Vytvořit kategorii</button>
                </div>
            </div>
        </div>
    </form>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
