@model DiplomovaPrace.Models.ImportData
@using System.Data;
@{


    int i = 0;

    ViewBag.Title = "Import aktérů";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Import", "Actor", FormMethod.Post, new { enctype = "multipart/form-data", @autocomplete = "off" }))
{
    <div class="form-group col-md-12">
        @Html.Label("Zdrojový soubor")
        <input type="file" class="form-control" accept=".csv" name="upload" />
    </div>

    <div class="form-group col-md-3">
        @Html.Label("Hlavička")
        <select name="Header" class="form-control">
            <option value="true">Ano</option>
            <option value="false">Ne</option>
        </select>
    </div>
    <div class="form-group col-md-3">
        @Html.Label("Oddělovač")
        <select name="Delimiter" class="form-control">
            <option value=",">,</option>
            <option value="|">|</option>
            <option value=";">;</option>
            <option value=":">:</option>
            <option value=" ">mezera</option>
        </select>
    </div>
    <div class="form-group col-md-3">
        @Html.Label("Počet výsledků")
        <select name="Count" class="form-control">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
        </select>
    </div>
    <div class="form-group col-md-3">
        <label>&#8203</label>
        <button type="submit" class="btn btn-primary btn-block form-control">Nahrát soubor</button>
    </div>


    <div class="col-md-12">
        <blockquote>
            Jako zdrojový soubor se myslí CSV soubor exportovaný z prostředí Enterprise Architect. Více informací naleznete na <a class="btn-link" href="https://sparxsystems.com/enterprise_architect_user_guide/12.0/projects_and_teams/csvexport.html" target="_blank">oficiálních stránkách</a> společnosti Sparx Systems.
        </blockquote>
    </div>
}




@if (Model != null)
{
    using (Html.BeginForm("ActorImport", "Actor", FormMethod.Post))
    {
        @Html.Hidden("DataTable", (DiplomovaPrace.Models.ImportData)ViewBag.Table)
        <div class="table-responsive">
            <button type="submit" class="btn btn-block btn-success">Potvrdit</button>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        @foreach (DataColumn col in Model.DataTable.Columns)
                        {
                            <th>@col.ColumnName</th>
                        }
                    </tr>
                </thead>
                <tbody>

                    @foreach (DataRow row in Model.DataTable.Rows)
                    {
                        if (i < ViewBag.Count)
                        {
                            <tr>
                                @foreach (DataColumn col in Model.DataTable.Columns)
                                {
                                    <td>@row[col.ColumnName]</td>
                                }
                            </tr>
                        }

                        i++;
                    }
                </tbody>
            </table>
        </div>
    }


}



