@model IEnumerable<DiplomovaPrace.Models.Project>

@{
    ViewBag.Title = "Hlavní stránka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Moje projekty</h2>

<p></p>
<button class="btn btn-block btn-success" onclick="location.href='@Url.Action("Create","Project")'">Založit nový projekt</button>

<div class="container tableContainer">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>

                    @if (Model.Count() == 0)
                    {
                        <th>
                            @Html.DisplayName("Nemáte zatím žádné projekty")
                        </th>
                    }
                    else
                    {
                        <th>
                            @Html.DisplayNameFor(model=>model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model=>model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model=>model.DateCreated)
                        </th>
                        <th>
                            @Html.DisplayName("Akce")
                        </th>

                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <p>@item.DateCreated.Value.ToShortDateString()</p>
                        </td>


                        <td>
                            <div class="btn-group pull-right">
                                <div class="form-group">
                                    <button class="btn btn-sm btn-outline-dark" title="Upravit projekt" onclick="location.href='@Url.Action("Edit","Project",new { id=item.ID})'"><i class="fa fa-edit"></i></button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-outline-dark" title="Vybrat projekt" onclick="location.href='@Url.Action("SetProject",new { id=item.ID})'"><i class="fa fa-eye"></i></button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-outline-danger" title="Odstranit projekt" onclick="location.href='javascript:Delete(@item.ID);'"><i class="fa fa-trash"></i></button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-outline-info" title="Stáhnout dokumentaci"><i class="fa fa-file-pdf-o"></i></button>
                                </div>

                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts{
    <script>
        function Delete(id) {
            jQuery.ajax({
                url: '@Url.Action("Delete","Project")',
                type: 'POST',
                data: { id: id },
                success: function () {
                    location.reload();
                },
                error: function (error) {
                    location.reload();
                }
            });
        }
    </script>

}
