@model IEnumerable<DiplomovaPrace.Models.ProjectUser>

@{
    ViewBag.Title = "Sdílené projekty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sdílené projekty</h2>

<p></p>
<div class="table-responsive">
    <table class="table" style="background-color: #fff">
        <thead>
            <tr>
                @if (Model.Count() == 0)
                {
                    <th>

                        @Html.DisplayName("Nemáte žádné sdílené projekty")
                    </th>
                }
                else
                {
                    <th>
                        @Html.DisplayName("Název projektu")

                    </th>
                    <th>
                        @Html.DisplayName("Autor projektu")
                    </th>
                    <th>
                        @Html.DisplayName("Popis projektu")
                    </th>
                    <th>
                        @Html.DisplayName("Datum vytvoření projektu")
                    </th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>

                <td>
                    <a class="btn-link" href="@Url.Action("Details","Profile",new { id=item.Project.ID_Author})">@item.Project.User.Name @item.Project.User.Surname</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Description)
                </td>
                <td>
                    <p>@item.Project.DateCreated.Value.ToShortDateString()</p>
                </td>

                <td>
                    <div class="btn-group float-right">
                        <div class="form-group">
                            <button class="btn btn-sm btn-outline-dark" title="Vybrat projekt" onclick="location.href='@Url.Action("SetProject",new { id=item.ID_Project})'"><i class="fa fa-eye"></i></button>
                        </div>

                    </div>
                </td>
            </tr>
            }
        </tbody>

    </table>
</div>

