@model DiplomovaPrace.Models.Project

@{
    ViewBag.Title = "Nový projekt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nový projekt</h2>


@using (Html.BeginForm("Create", "Project", FormMethod.Post, new { @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Název projektu")
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required="required" } })
        </div>

        <div class="form-group">
            @Html.Label("Stručný popis projektu")
            @Html.TextAreaFor(model => model.Description, 4, 3, new { @class = "form-control", @required="required" })
        </div>

        <div class="form-group">
            <input type="submit" value="Vytvořit projekt" class="btn btn-success btn-block" />
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
