@model IEnumerable<DiplomovaPrace.Models.ProjectUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Členové teamu projektu @Session["projectName"]</h2>

<p>
</p>
<button class="btn btn-success btn-block" onclick="@Url.Action("Create","Team")">Přidat nového člena týmu</button>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Jméno")
                </th>
                <th>
                    @Html.DisplayName("Příjmení")
                </th>
                <th>
                    @Html.DisplayName("Autor projektu")
                </th>
                <th></th>
            </tr>
        </thead>
      <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Surname)
                </td>
                <td>
                    @if (item.ID_User == Model.FirstOrDefault().Project.ID_Author)
                    {
                        <i class="fa fa-check" style="color: green"></i>
                    }
                </td>
                <td>
                    <div class="btn-group pull-right">
                        <div class="form-group">
                            <button class="btn btn-sm btn-outline-dark" title="Zobrazit profil" onclick="location.href='@Url.Action("Details","Profile",new { id=item.ID_User})'"><i class="fa fa-user"></i></button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-outline-danger" title="Odebrat člena týmu" onclick="location.href='javascript:Delete(@item.ID);'"><i class="fa fa-trash"></i></button>
                        </div>
                    </div>

                </td>
            </tr>
        }
          </tbody>
    </table>
</div>

