@model IEnumerable<DiplomovaPrace.Models.UseCase>

@{
    ViewBag.Title = "Případy užití";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Případy užití</h2>

<p>
</p>
<button class="btn btn-success btn-block" onclick="location.href='@Url.Action("Create","UseCase")'">Nový případ užití</button>
<div class="container tableContainer">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model=>model.Name)
                    </th>
                    <th>
                        @Html.DisplayName("Realizované požadavky")
                    </th>
                    <th>
                        @Html.DisplayName("Aktéři")
                    </th>
                    <th>
                        @Html.DisplayName("Scénář")
                    </th>
                    <th>
                        @Html.DisplayName("Akce")
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr title="@item.Description">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @foreach(var req in item.UseCaseRequirements)
                            {
                                <p>@req.Requirement.ID_Requirement @req.Requirement.Text</p>
                            }
                        </td>
                        <td>
                            @foreach (var actor in item.UseCaseActors)
                            {
                                <p>@actor.Actor.Name</p>
                            }
                        </td>
                        <td>
                            @{
                                var scenario = item.Scenarios.Where(s => s.ID_MainScenario == null && s.Done).FirstOrDefault();
                                if (scenario != null)
                                {
                                    <a class="btn-link" href="@Url.Action("Details","Scenario",new { id=scenario.ID})">@scenario.ID_Scenario</a>
                                }
                                else
                                {
                                    <button class="btn btn-sm btn-outline-primary" title="Vytvořit scénář" type="button" onclick="location.href='@Url.Action("Create", "Scenario", new { idUseCase = item.ID })'"><i class="fa fa-plus"></i></button>

                                }
                            }
                        </td>

                        <td>
                            <div class="btn-group pull-right">
                                <div class="form-group">
                                    <button class="btn btn-sm btn-outline-dark" title="Upravit případ užití" type="button" onclick="location.href='@Url.Action("Edit","UseCase",new { id=item.ID})'"><i class="fa fa-edit"></i></button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-outline-danger" title="Odstranit případ užití" type="button" onclick="location.href='javascript:Delete(@item.ID);'"><i class="fa fa-trash"></i></button>
                                </div>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts{
    <script>
        function Delete(id) {
            jQuery.ajax({
                url: '@Url.Action("Delete","UseCase")',
                type: 'POST',
                data: { id: id },
                success: function () {
                    location.reload();
                },
                error: function (error) {
                    location.reload();
                }
            });
        }
    </script>
}
